-@ val url: String
-@ val time: String
-@ val withPassword: Boolean
- attributes("title") = "Upload successful"

- layout("layouts/main.jade")
  .page-header
    h1 Upload Successful
  .content
    h3
      | File will be available by the links below for
      code= time
    .links-well
      pre
        code
          - val protection = if (withPassword) "password=YourPass" else "answer=YourAns"
          | #{Config.appUrl}/#{url}
          | curl -F url=#{url} -F #{protection} #{Config.appUrl}/get